<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Form</title>
</head>
<body>
<form th:action="@{/register-person}" method="post" th:object="${person}">
    <label> First name: <input type="text" th:field="*{firstName}"> </label>
    <br/>
    <label> Last name: <input type="text" th:field="*{lastName}"> </label>
    <br/>
    <label> Age: <input type="number" th:field="*{age}"> </label>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>